<div class="box-border text-white font-mono">
  <div class="wrapper section-1">
    <div class="copy">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum
      necessitatibus sapiente laborum magnam beatae culpa maxime dignissimos hic
      perspiciatis ipsum? Veritatis, aperiam reiciendis voluptatem perspiciatis
      commodi vel dignissimos in ut.
    </div>
  </div>
  <div class="wrapper section-2">
    <div class="copy">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum
      necessitatibus sapiente laborum magnam beatae culpa maxime dignissimos hic
      perspiciatis ipsum? Veritatis, aperiam reiciendis voluptatem perspiciatis
      commodi vel dignissimos in ut.
    </div>
  </div>
  <div class="wrapper section-3">
    <div class="copy">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum
      necessitatibus sapiente laborum magnam beatae culpa maxime dignissimos hic
      perspiciatis ipsum? Veritatis, aperiam reiciendis voluptatem perspiciatis
      commodi vel dignissimos in ut.
    </div>
  </div>
  <div class="wrapper section-4">
    <div class="copy">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum
      necessitatibus sapiente laborum magnam beatae culpa maxime dignissimos hic
      perspiciatis ipsum? Veritatis, aperiam reiciendis voluptatem perspiciatis
      commodi vel dignissimos in ut.
    </div>
  </div>
  <div class="wrapper section-5">
    <div class="copy">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum
      necessitatibus sapiente laborum magnam beatae culpa maxime dignissimos hic
      perspiciatis ipsum? Veritatis, aperiam reiciendis voluptatem perspiciatis
      commodi vel dignissimos in ut.
    </div>
  </div>
  <div class="wrapper section-6">
    <div class="copy">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum
      necessitatibus sapiente laborum magnam beatae culpa maxime dignissimos hic
      perspiciatis ipsum? Veritatis, aperiam reiciendis voluptatem perspiciatis
      commodi vel dignissimos in ut.
    </div>
  </div>
</div>
