#blob {
    pointer-events: none;
    z-index: -1;

    background-color: white;
    height: 500px;
    aspect-ratio: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    border-radius: 50%;

    background: linear-gradient(to right,
            rgb(224, 211, 190),
            mediumpurple,
        );

    @keyframes rotate {
        from {
            rotate: 0deg;
        }

        50% {
            scale: 1 1.25;
        }

        to {
            rotate: 360deg;
        }
    }

    animation: rotate 20s infinite;
    filter: blur(200px);
}