<div
  class="min-h-screen grid grid-cols-2 items-center font-mono text-white ml-80"
>
  <div class="box-1">
    <h1 class="font-bold text-3xl">Used Tech:</h1>
    <ul class="text-xl mb-16">
      <li class="list-item">Angular</li>
      <li class="list-item">TailwindCSS</li>
      <li class="list-item">ThreeJS</li>
      <li class="list-item">Motion One</li>
      <li class="list-item">Strapi</li>
    </ul>
    <h1 class="font-bold text-3xl">Used APIs:</h1>
    <ul class="text-xl">
      <li class="list-item">NASA API</li>
      <li class="list-item">PokéAPI</li>
    </ul>
  </div>
  <div class="box-2">
    <h1 class="text-3xl mb-4">Source code:</h1>
    <a
      href="https://github.com/bvlnt/BVLINT-sandbox"
      target="_blank"
      class="text-2xl"
      ><i class="fa-brands fa-github mr-2" style="color: #ffffff"></i>
      <span class="underline">Avaible here</span></a
    >
  </div>
</div>
