<nav
  class="border-gray-200 px-2 sm:px-4 py-6 font-mono text-white justify-between"
>
  <div class="container flex flex-wrap items-center justify-between mx-auto">
    <a class="" routerLink="home">Home</a>
    <a class="" routerLink="fancymenu">Spotify Playlists</a>
    <a class="" routerLink="threejs">Three.js Render</a>
    <a class="" routerLink="pinterest">Pinterest Gallery</a>
    <a class="" routerLink="pokemon">PokéAPI Experiment</a>
    <a class="" routerLink="spacedashboard">Space Dashboard</a>
    <a class="" routerLink="blog">Blog</a>
    <a class="" routerLink="scrolltrigger">Scrolltrigger</a>
    <a class="" routerLink="contact">Contact</a>
  </div>
</nav>
