<div class="border-t-2 min-h-screen flex flex-col items-center justify-center">
  <video
    autoPlay
    loop
    muted
    playsInline
    class="absolute w-full h-full object-cover"
  >
    <source src="assets/masthead.mp4" type="video/mp4" />
  </video>
  <div
    class="p-12 z-10 font-mono text-white drop-shadow-[0_5px_3px_rgba(0,0,0,0.8)] flex-1 flex items-center justify-center flex-col"
  >
    <h1 class="text-5xl mb-10 font-bold text-center">About this project</h1>
    <div class="text-3xl text-justify px-52">
      This project is to study Angular and TailwindCSS with modern UI/UX ideas.
      The components are mainly inspired by
      <a
        href="https://www.youtube.com/@Hyperplexed"
        class="italic font-bold"
        target="_blank"
        >@Hyperlexed</a
      >
      on YouTube. The goal was to translate his reverse engineered components
      from plain HTML/CSS/JS to Angular and TailwindCSS. Scrolling through
      <a
        href="https://www.awwwards.com/websites/sites_of_the_day/"
        class="italic font-bold"
        target="_blank"
        >Awwwards' Site Of The Day</a
      >
      was also inspirational.
    </div>
  </div>
</div>
