.image {
    width: 50vmin;
    position: absolute;
    transform: translate(-50%, -50%);
}

.image[data-status="inactive"]{
    display:none;
    position: relative;
}
.image[data-status="active"] {
    display: block;
    position: absolute;
}

#my-gallery{
    background: linear-gradient(black, rgb(17 24 39));
}