<div
  id="my-gallery"
  class="min-h-screen flex flex-col items-center justify-center overflow-hidden relative"
>
  <div
    class="title pl-10 text-white font-mono text-9xl left-0 top-0 absolute drop-shadow cursor-default"
  >
    Random Photos I liked on Pinterest
  </div>
  <img
    class="image"
    data-index="0"
    data-status="inactive"
    src="https://i.pinimg.com/564x/ae/77/70/ae7770ce30fd086082a0a8d7b609bdb9.jpg"
  />
  <img
    class="image"
    data-index="1"
    data-status="inactive"
    src="https://i.pinimg.com/564x/ed/64/d4/ed64d42bc31f562a55060c259f2bd6eb.jpg"
  />
  <img
    class="image"
    data-index="2"
    data-status="inactive"
    src="https://i.pinimg.com/564x/5b/fb/ee/5bfbee206deffc581d397c63e237f580.jpg"
  />
  <img
    class="image"
    data-index="3"
    data-status="inactive"
    src="https://i.pinimg.com/564x/a4/cf/99/a4cf9925219e8c13af184458d50254aa.jpg"
  />
  <img
    class="image"
    data-index="4"
    data-status="inactive"
    src="https://i.pinimg.com/564x/77/c5/b7/77c5b7bafcb33116ff5e761715e00429.jpg"
  />
  <img
    class="image"
    data-index="5"
    data-status="inactive"
    src="https://i.pinimg.com/564x/da/c5/3d/dac53dcdcb0e090c28d03775059a9f5b.jpg"
  />
  <img
    class="image"
    data-index="6"
    data-status="inactive"
    src="https://i.pinimg.com/564x/44/de/40/44de40e31c27dcc80194aea1704e5b74.jpg"
  />
  <img
    class="image"
    data-index="7"
    data-status="inactive"
    src="https://i.pinimg.com/564x/5a/f8/27/5af827e4f46162b258d32d9782aac8d4.jpg"
  />
  <img
    class="image"
    data-index="8"
    data-status="inactive"
    src="https://i.pinimg.com/564x/7a/99/9a/7a999ae33cc8730ee3fe23b8362257e2.jpg"
  />
  <img
    class="image"
    data-index="9"
    data-status="inactive"
    src="https://i.pinimg.com/564x/35/ba/ef/35baefb373aefa84dda4935dd66351c6.jpg"
  />
  <img
    class="image"
    data-index="10"
    data-status="inactive"
    src="https://i.pinimg.com/564x/68/52/ea/6852eab878fa7e4553824b0a465d7a13.jpg"
  />
  <img
    class="image"
    data-index="11"
    data-status="inactive"
    src="https://i.pinimg.com/564x/ca/9c/09/ca9c095280e0df06e92135efd962308c.jpg"
  />
  <img
    class="image"
    data-index="12"
    data-status="inactive"
    src="https://i.pinimg.com/564x/23/8f/30/238f30074ced9a041f9a65d74815202a.jpg"
  />
  <img
    class="image"
    data-index="13"
    data-status="inactive"
    src="https://i.pinimg.com/564x/d1/e9/9a/d1e99a79946c371c2fec0fc94cb4d493.jpg"
  />
  <img
    class="image"
    data-index="14"
    data-status="inactive"
    src="https://i.pinimg.com/564x/94/bb/d8/94bbd81f1f6bd89488691ff7b1b68748.jpg"
  />
  <img
    class="image"
    data-index="15"
    data-status="inactive"
    src="https://i.pinimg.com/564x/75/18/0c/75180ce5d1bac72f98a0e1c983dc6e4c.jpg"
  />
  <img
    class="image"
    data-index="16"
    data-status="inactive"
    src="https://i.pinimg.com/564x/3a/08/60/3a08603b53203c10de332b9e6effdfe6.jpg"
  />
  <img
    class="image"
    data-index="17"
    data-status="inactive"
    src="hhttps://i.pinimg.com/564x/83/e9/28/83e928a10a6f0367e567bafc0a2d9a6d.jpg"
  />
  <img
    class="image"
    data-index="18"
    data-status="inactive"
    src="https://i.pinimg.com/564x/13/36/68/1336681326fe160adf95a8f9811850b7.jpg"
  />
  <img
    class="image"
    data-index="19"
    data-status="inactive"
    src="https://i.pinimg.com/564x/3d/b2/bc/3db2bce717e9aad6d83c1e3880b76c78.jpg"
  />
  <img
    class="image"
    data-index="20"
    data-status="inactive"
    src="https://i.pinimg.com/564x/b9/c1/25/b9c125fff863078457566ca87165a478.jpg"
  />
  <img
    class="image"
    data-index="21"
    data-status="inactive"
    src="https://i.pinimg.com/736x/74/cd/f9/74cdf9747e4a1f5256c32e3a53d81e66.jpg"
  />
  <img
    class="image"
    data-index="22"
    data-status="inactive"
    src="https://i.pinimg.com/564x/64/07/08/6407080d52fd87e55011d3bd39f8c980.jpg"
  />
  <img
    class="image"
    data-index="23"
    data-status="inactive"
    src="https://i.pinimg.com/564x/f9/50/8b/f9508bc080ed347fc41590edd871bf7d.jpg"
  />
</div>
